# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv

#The raw data section 
data/*

# Materials in the pipelines folder and the egg
src/pipelines/__pycache__
src/pipelines/abalone/__pycache__
src/*.egg-info

#Terraform material
infrastructure/environments/dev/terraform.tfstate
infrastructure/environments/dev/terraform.tfstate.backup
infrastructure/environments/dev/.terraform
infrastructure/environments/dev/.terraform.lock.hcl
